* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.contenedor {
    border: 2px solid blue;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 20rem;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
}
